/******************** Colors ********************/

h1 {
    background-color: #4aaaa5;
    color: #fff;
    width: 25%;
    padding: 25px 10px;
    position: relative;
    float: left;
    clear: right;
    margin: 0 0 0 60px;
    text-align: center;
    height: 100%;


}

nav {
    width: 60%;
    float: right;
    position: inherit;
    margin-top: 20px;

}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 87%;
    display: inline-block;
    right: 0;
}

li {
    display: inline-block;
    width: 50px;
    padding: 20px;
    float: right;
}

h2 {
    color: #4aaaa5;
}

body {
    background-image: url(../images/fishnets-and-hearts.png);
    background-repeat: repeat;
    margin: 0;
    height: 100%;
}

p, li {
    color: #777777;
}

header {
    width: 100%;
    background-color: #ffffff;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #ccc;
    display: inline-block;
    
}

.main-content {
    background-color: #fff;
}

footer {
    background-color: #666;
    border-width: 6px 0 0 0;
    border-style: solid;
    border-color: #4aaaa5;
    height: 40px;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer p {
    color: #fff;
    font-size: 12px;
}


/******************************************* About Me Page *********************/

.main-content {
    width: 960px;
    margin: 0 auto;
}